<div class="container">
    <h2>Citizen</h2>
    <i>Note: this is random data, and not actual game data.</i>

    <div class="row">
        <div class="col-md-6" ng-controller="PopulationCtrl as vm">
            <highchart config="populationChartConfig"></highchart>
        </div>
        <div class="col-md-6" ng-controller="AgeDistributionCtrl as vm">
            <highchart config="ageDistributionChartConfig"></highchart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-controller="BirthAndDeathCtrl as vm">
            <highchart config="birthAndDeathChartConfig"></highchart>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
