<div class="container">
    <h2>Citizen</h2>

    <h3>Population</h3>
    <div class="row">
        <div class="col-md-6" ng-controller="PopulationCtrl as vm">
            <highchart config="populationChartConfig"></highchart>
        </div>
        <div class="col-md-6" ng-controller="BirthAndDeathCtrl as vm">
            <highchart config="birthAndDeathChartConfig"></highchart>
        </div>
    </div>

    <h3>Employment</h3>
    <div class="row">
        <div class="col-md-6" ng-controller="EducationEmploymentCtrl as vm">
            <highchart config="educationEmploymentChartConfig"></highchart>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
